<% provide(:title, "Help") %>
<div class="center jumbotron" style="text-align: center; color: #730E15">
  <br/>
  <h2>
    This application was created with the intention to find you your dream job, or your dream candidate.
  </h2>
  <br/>

</div>