<% provide(:title, "Help") %>
<div class="center jumbotron" style="text-align: center; color: #730E15">
  <br/>
  <h2>
    You'll find help here!
  </h2>
  <br/>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>