<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Application Tracking System", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   application_tracking_system_home_path %></li>
        <li><%= link_to "Help",   application_tracking_system_help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>